

.footers{
  display:flex;
  flex-direction: column;
  align-items: stretch;
  height:15vh;
  width:100%;
  max-width:100%;
}
.fourth{
  display:flex;
  flex: 1 1 auto;
  width:100%;
  max-width:100%;
  justify-content: space-between;
}
.footer-heading{
  padding-top:1px;
  padding-left:8px;
}

.padd{
  margin-right:20px;
}
.fourth-left{
  margin-left:10%;
}
.fourth-right{
  margin-right:10%;
}

.first{
  display:flex;
  flex: 1 1 auto;
  width:100%;
  max-width:100%;
  justify-content: center;
}
.second{
  display:flex;
  flex: 1 1 auto;
  width:100%;
  max-width:100%;
 justify-content: center;
}
.third{
  display:flex;
  flex: 1 1 auto;
  width:100%;
  max-width:100%;
   justify-content: center;
}
.links{
  text-decoration: none;
  margin-left:4px;
}
